---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="TYMATGTPO5QEAWP8I307AOMBHSOJI2", oauth_nonce="SIXbEqGcuWoME584M9SOfFWRkIgDNLBMuCg11PKFYMU",
        oauth_signature="v9LkkrZBPkhSQHTp56WQwqwK9aVXAw0zfd9MEhM7xugzRChSDa8NsVT%2FKrSTxdHDFdbXTThPh0pl96earuEkhPH%2F%2F1wsRbU7Oo4Bdd66XiA3o%2FyXDCLfBKgkyuQhc%2F4Ei1A7XRQhfnHMtASyN2vKWgviFkpAvEAXplSqN6YeOws%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1351946779", oauth_token="TYMATGTPO5QEAWP8I307AOMBHSOJI2",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
      www-authenticate:
      - OAuth Realm="api.xero.com"
      x-s:
      - api1
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>84efa3ce-c0d6-4fa6-8262-854b16e67d8f</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>GoHiring</ProviderName>\r\n  <DateTimeUTC>2012-11-03T12:46:11.8638402Z</DateTimeUTC>\r\n
        \ <Contacts>\r\n    <Contact>\r\n      <ContactID>9685e9b2-2219-4257-9a50-2f91f240b165</ContactID>\r\n
        \     <ContactStatus>ACTIVE</ContactStatus>\r\n      <Name>Just Testing</Name>\r\n
        \     <FirstName>Test</FirstName>\r\n      <LastName>Person</LastName>\r\n
        \     <EmailAddress>matt@geeland.com</EmailAddress>\r\n      <Addresses>\r\n
        \       <Address>\r\n          <AddressType>STREET</AddressType>\r\n        </Address>\r\n
        \       <Address>\r\n          <AddressType>POBOX</AddressType>\r\n        </Address>\r\n
        \     </Addresses>\r\n      <Phones>\r\n        <Phone>\r\n          <PhoneType>DDI</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>DEFAULT</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>MOBILE</PhoneType>\r\n
        \       </Phone>\r\n        <Phone>\r\n          <PhoneType>FAX</PhoneType>\r\n
        \       </Phone>\r\n      </Phones>\r\n      <UpdatedDateUTC>2012-10-30T13:59:49.787</UpdatedDateUTC>\r\n
        \     <IsSupplier>false</IsSupplier>\r\n      <IsCustomer>true</IsCustomer>\r\n
        \   </Contact>\r\n  </Contacts>\r\n</Response>"
  recorded_at: Sat, 03 Nov 2012 12:46:21 GMT
recorded_with: VCR 2.2.5
