---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Invoices/7f9e9823-f6d7-4302-90a1-ba59f6884ce9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="TYMATGTPO5QEAWP8I307AOMBHSOJI2", oauth_nonce="6gmKw9BCOsTNFYJdsLh7PGtvbvp1R590N6fva9T3xtI",
        oauth_signature="ookyqRQHjQtbq19FCojYB6Y1ih%2FTCnUY%2Bsgd1vs10O0Z99PsRJ6zBwZYnjvWpBNjvB0dI8yz87U%2BxwkQcRKGiONpTWKZOcu7%2BJ3J5wk4fjBvvaxzdnzEinOSwMV2v2l6xs6GKZnSud%2F%2BmGmMFOlftf18g%2BcSXi%2Bzr%2B2kZ49vhuA%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1351854523", oauth_token="TYMATGTPO5QEAWP8I307AOMBHSOJI2",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
      www-authenticate:
      - OAuth Realm="api.xero.com"
      x-s:
      - api1
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>ab149d9f-f1c0-442d-a8c7-cd5008933e31</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>GoHiring</ProviderName>\r\n  <DateTimeUTC>2012-11-02T11:08:53.143424Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>9685e9b2-2219-4257-9a50-2f91f240b165</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Just Testing</Name>\r\n
        \       <FirstName>Test</FirstName>\r\n        <LastName>Person</LastName>\r\n
        \       <EmailAddress>matt@geeland.com</EmailAddress>\r\n        <Addresses>\r\n
        \         <Address>\r\n            <AddressType>STREET</AddressType>\r\n          </Address>\r\n
        \         <Address>\r\n            <AddressType>POBOX</AddressType>\r\n          </Address>\r\n
        \       </Addresses>\r\n        <Phones>\r\n          <Phone>\r\n            <PhoneType>DDI</PhoneType>\r\n
        \         </Phone>\r\n          <Phone>\r\n            <PhoneType>DEFAULT</PhoneType>\r\n
        \         </Phone>\r\n          <Phone>\r\n            <PhoneType>MOBILE</PhoneType>\r\n
        \         </Phone>\r\n          <Phone>\r\n            <PhoneType>FAX</PhoneType>\r\n
        \         </Phone>\r\n        </Phones>\r\n        <UpdatedDateUTC>2012-10-30T13:59:49.787</UpdatedDateUTC>\r\n
        \       <IsSupplier>false</IsSupplier>\r\n        <IsCustomer>true</IsCustomer>\r\n
        \     </Contact>\r\n      <Date>2012-12-01T00:00:00</Date>\r\n      <DueDate>2012-12-03T00:00:00</DueDate>\r\n
        \     <Status>AUTHORISED</Status>\r\n      <LineAmountTypes>Exclusive</LineAmountTypes>\r\n
        \     <LineItems>\r\n        <LineItem>\r\n          <Description>Just Testing</Description>\r\n
        \         <UnitAmount>995.00</UnitAmount>\r\n          <TaxType>OUTPUT</TaxType>\r\n
        \         <TaxAmount>0.00</TaxAmount>\r\n          <LineAmount>995.00</LineAmount>\r\n
        \         <AccountCode>200</AccountCode>\r\n          <ItemCode>monster</ItemCode>\r\n
        \         <Quantity>1.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>995.00</SubTotal>\r\n      <TotalTax>0.00</TotalTax>\r\n      <Total>995.00</Total>\r\n
        \     <UpdatedDateUTC>2012-10-30T13:58:46.433</UpdatedDateUTC>\r\n      <CurrencyCode>EUR</CurrencyCode>\r\n
        \     <Type>ACCREC</Type>\r\n      <InvoiceID>7f9e9823-f6d7-4302-90a1-ba59f6884ce9</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0001</InvoiceNumber>\r\n      <AmountDue>995.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Fri, 02 Nov 2012 11:08:54 GMT
recorded_with: VCR 2.2.5
