---
http_interactions:
- request:
    method: post
    uri: https://api.xero.com/api.xro/2.0/Invoices
    body:
      encoding: US-ASCII
      string: xml=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3CInvoice%3E%0A%20%20%3CType%3EACCREC%3C%2FType%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CName%3EXero%20Gem%20Test%20Contact%3C%2FName%3E%0A%20%20%20%20%3CAddresses%20type%3D%22array%22%3E%0A%20%20%20%20%20%20%3CAddress%3E%0A%20%20%20%20%20%20%20%20%3CAddressType%3ESTREET%3C%2FAddressType%3E%0A%20%20%20%20%20%20%20%20%3CAddressLine1%3E1684%20Schuster%20Ferry%3C%2FAddressLine1%3E%0A%20%20%20%20%20%20%20%20%3CCity%3EJewessview%3C%2FCity%3E%0A%20%20%20%20%20%20%20%20%3CRegion%3EFlorida%3C%2FRegion%3E%0A%20%20%20%20%20%20%20%20%3CPostalCode%3E61960%3C%2FPostalCode%3E%0A%20%20%20%20%20%20%20%20%3CCountry%3EGermany%3C%2FCountry%3E%0A%20%20%20%20%20%20%3C%2FAddress%3E%0A%20%20%20%20%3C%2FAddresses%3E%0A%20%20%3C%2FContact%3E%0A%20%20%3CLineItems%20type%3D%22array%22%3E%0A%20%20%20%20%3CLineItem%3E%0A%20%20%20%20%20%20%3CDescription%3Easdfsdafdf%3C%2FDescription%3E%0A%20%20%20%20%20%20%3CQuantity%3E2.0%3C%2FQuantity%3E%0A%20%20%20%20%20%20%3CItemCode%3Estepstone%3C%2FItemCode%3E%0A%20%20%20%20%3C%2FLineItem%3E%0A%20%20%3C%2FLineItems%3E%0A%3C%2FInvoice%3E%0A
    headers:
      charset:
      - utf-8
      content-type:
      - application/x-www-form-urlencoded
      authorization:
      - OAuth oauth_consumer_key="TYMATGTPO5QEAWP8I307AOMBHSOJI2", oauth_nonce="UspJpriFboClY5jaVCE1tcEaoeKcmq2B0KhVvA",
        oauth_signature="3KLWj2gbnpIWD8RKLc9Bn52wl48OsNRvvU3gwMeHAJZkc5QZjevSg000eFMOn8f95hnn5oWTkS84EtBBkO9FC2iYimgnbLeHko9WeSsVCSQDgOlrXk2wzF0YmX06nVtOct4bhJOs0Wr8SzzZIvz0THrmK2F1PV2FYdP3yV25578%3D",
        oauth_signature_method="RSA-SHA1", oauth_timestamp="1352106612", oauth_token="TYMATGTPO5QEAWP8I307AOMBHSOJI2",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
      www-authenticate:
      - OAuth Realm="api.xero.com"
      x-s:
      - api2
    body:
      encoding: US-ASCII
      string: ! "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n
        \ <Id>8f83bc92-52f5-47b0-ae93-e2db97205cb4</Id>\r\n  <Status>OK</Status>\r\n
        \ <ProviderName>GoHiring</ProviderName>\r\n  <DateTimeUTC>2012-11-05T09:10:14.8934283Z</DateTimeUTC>\r\n
        \ <Invoices>\r\n    <Invoice>\r\n      <Contact>\r\n        <ContactID>a18c8d85-7ac1-4f14-b470-50adf56ee45f</ContactID>\r\n
        \       <ContactStatus>ACTIVE</ContactStatus>\r\n        <Name>Xero Gem Test
        Contact</Name>\r\n        <Addresses>\r\n          <Address>\r\n            <AddressType>POBOX</AddressType>\r\n
        \         </Address>\r\n          <Address>\r\n            <AddressType>STREET</AddressType>\r\n
        \           <AddressLine1>1684 Schuster Ferry</AddressLine1>\r\n            <City>Jewessview</City>\r\n
        \           <Region>Florida</Region>\r\n            <PostalCode>61960</PostalCode>\r\n
        \           <Country>Germany</Country>\r\n          </Address>\r\n        </Addresses>\r\n
        \       <Phones>\r\n          <Phone>\r\n            <PhoneType>DDI</PhoneType>\r\n
        \         </Phone>\r\n          <Phone>\r\n            <PhoneType>MOBILE</PhoneType>\r\n
        \         </Phone>\r\n          <Phone>\r\n            <PhoneType>FAX</PhoneType>\r\n
        \         </Phone>\r\n          <Phone>\r\n            <PhoneType>DEFAULT</PhoneType>\r\n
        \         </Phone>\r\n        </Phones>\r\n        <UpdatedDateUTC>2012-11-05T09:10:14.72</UpdatedDateUTC>\r\n
        \       <IsSupplier>false</IsSupplier>\r\n        <IsCustomer>true</IsCustomer>\r\n
        \     </Contact>\r\n      <Date>2012-11-05T00:00:00</Date>\r\n      <Status>DRAFT</Status>\r\n
        \     <LineAmountTypes>Exclusive</LineAmountTypes>\r\n      <LineItems>\r\n
        \       <LineItem>\r\n          <Description>asdfsdafdf</Description>\r\n
        \         <UnitAmount>1095.00</UnitAmount>\r\n          <TaxType>OUTPUT</TaxType>\r\n
        \         <TaxAmount>0.00</TaxAmount>\r\n          <LineAmount>2190.00</LineAmount>\r\n
        \         <AccountCode>200</AccountCode>\r\n          <ItemCode>stepstone</ItemCode>\r\n
        \         <Quantity>2.0000</Quantity>\r\n        </LineItem>\r\n      </LineItems>\r\n
        \     <SubTotal>2190.00</SubTotal>\r\n      <TotalTax>0.00</TotalTax>\r\n
        \     <Total>2190.00</Total>\r\n      <UpdatedDateUTC>2012-11-05T09:10:14.753</UpdatedDateUTC>\r\n
        \     <CurrencyCode>EUR</CurrencyCode>\r\n      <Type>ACCREC</Type>\r\n      <InvoiceID>de3b19f2-1ed0-4eca-aec2-6d1d247a0bd7</InvoiceID>\r\n
        \     <InvoiceNumber>INV-0005</InvoiceNumber>\r\n      <AmountDue>2190.00</AmountDue>\r\n
        \     <AmountPaid>0.00</AmountPaid>\r\n      <SentToContact>false</SentToContact>\r\n
        \     <CurrencyRate>1.000000</CurrencyRate>\r\n      <HasAttachments>false</HasAttachments>\r\n
        \   </Invoice>\r\n  </Invoices>\r\n</Response>"
  recorded_at: Mon, 05 Nov 2012 09:10:15 GMT
recorded_with: VCR 2.2.5
